
/******************************************
/* BASE STYLES
/*******************************************/
h1 {
  font-size: 4em;
  font-family: arial,helvetica;
  color: #fff;
  margin:0;
}
h2 {
  font-size: 4em;
  font-family: arial,helvetica;
  color: #fff;
  margin:0;
  background-color: rgba(0, 0, 0, 0.4); 
}
body {
  color: #000;
  font-size: 12px;
  line-height: 1.4;
  font-family: Helvetica, Arial, sans-serif;
  background-size: cover;
}
footer {
  background:none;
  width: 100%;
  position:fixed;
  bottom:0;
  text-align: right;
  line-height:45px;
  color:#fff;
  border:0;
  font-size: 3em;
  outline:none;
  z-index:10000000000000;
}
.me {
  top: 0;
  font-size: 7em;
  font-family: arial,helvetica;
  color: #2d2c2c;
  margin:0;
  text-decoration: none;
  font-weight: bolder;
}
.desc {
  font-size: 2em;
  text-align: left;
  margin-left: 250px;
  width: 39%;
}
.skills {
  font-size: 3em;
  font-weight: bolder;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
}
/******************************************
/* NAV 
/*******************************************/
.hamburger{
  background:none;
  position:fixed;
  top:0;
  right:0;
  line-height:45px;
  padding:20px 40px 0px 15px;
  color:#fff;
  border:0;
  font-size: 3em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:fixed;
  top:0px;
  right:0;
  padding:20px 40px 0px 15px;
  color:#fff;
  border:0;
  font-size:6em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu {
  z-index:1000000; 
  font-weight:bold; 
  font-size:3em; 
  width:100%; 
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position:absolute; 
  text-align:center;
}
.menu ul {
  margin: 0; 
  padding: 0;
  padding-top: 200px;
  list-style-type: none; 
  list-style-image: none;
}
.menu li {
  display: block;   
  padding:15px 0 15px 0; 
  border-bottom:#1d1f20 1px solid;
}
.menu li:hover {
  display: block;    
  background:#181818; 
  padding:15px 0 15px 0; 
  border-bottom:#1d1f20 1px solid;
}
.menu ul li a { 
  text-decoration:none;  
  margin: 0px; 
  color:#fff;
}
.menu ul li a:hover {  
  color: #fff; 
  text-decoration:none;
}
.menu a {
  text-decoration:none; 
  color:white;
}
.menu a:hover {
  text-decoration:none; 
  color:white;
}
/*END OF NAV*/

blockquote {
  float: left;
  font-size: 14px;
  text-align: left;
}
.intro p {
  color: #fff;
}

.section {
  text-align:center;
}

#infoMenu li a {
  color: #fff;
}

#section0 {
  background-image: url("../imgs/coverbg.jpg");
  background-size: cover;
}
#section1 {
  background-image: url("../imgs/meh.jpg");
  background-size: cover;
}
#section3 {
  background-image: url("../imgs/contact.jpg");
  background-size: cover;
}
#slide1 {
  background-image: url("../imgs/portbg.jpg");
  background-size: cover;
}
#slide2 {
  background-image: url("../imgs/portbg2.jpg");
  background-size: cover;
}


.social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
}
p{
  font-size: 2em;
  font-weight: bold;

}
form {
  float: left;
  margin-left: 20%;
  width: 30%;
  height: 500px;
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0.4); 
  padding:10px 50px;
  z-index: 99;
}
input {
  height: 50px;
  width: 70%;
  margin-bottom: 5px;
  background-color: white;
}
textarea {
  width: 70%;
  height: 150px;
}
#send {
  width: 30%;
  height: 50px;
  font-size: 1em;
  color: #515050;
  font-weight: bold;
}
label {
  font-size: 16px;
  font-weight: bold;
  color: white;
}
#contact {
  float: left;
  width: 100%;
  margin: 0;
}
.contactMe {
    background-color: rgba(255, 255, 255, 0.4); 
}
/*Gallery*/
.gallery > ul {
  position: absolute;
  margin-left: 100px;
  top: 50px;
  width: 700px;
}
.gallery > ul > li {
  float: left;
  top: 0px;
  padding-right: 4px;
  width: 200px;
}
.gallery > ul > li a {
    display: block;
    overflow: hidden;
    position: relative;
}
.gallery > ul > li a > img {
    -webkit-transition: -webkit-transform 0.15s ease 0s;
    -moz-transition: -moz-transform 0.15s ease 0s;
    -o-transition: -o-transform 0.15s ease 0s;
    transition: transform 0.15s ease 0s;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    height: 100%;
    width: 100%;
}
.gallery > ul > li a:hover > img {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
}
.gallery > ul > li a:hover .gallery-poster > img {
    opacity: 1;
}
.gallery > ul > li a .gallery-poster {
    background-color: rgba(0, 0, 0, 0.1);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: background-color 0.15s ease 0s;
    -o-transition: background-color 0.15s ease 0s;
    transition: background-color 0.15s ease 0s;
}
.gallery > ul > li a .gallery-poster > img {
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
}
.gallery > ul > li a:hover .gallery-poster {
    background-color: rgba(0, 0, 0, 0.5);
}
.gallery .justified-gallery > a > img {
    -webkit-transition: -webkit-transform 0.15s ease 0s;
    -moz-transition: -moz-transform 0.15s ease 0s;
    -o-transition: -o-transform 0.15s ease 0s;
    transition: transform 0.15s ease 0s;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    height: 100%;
    width: 100%;
}
.gallery .justified-gallery > a:hover > img {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
}
.gallery .justified-gallery > a:hover .gallery-poster > img {
    opacity: 1;
}
.gallery .justified-gallery > a .gallery-poster {
    background-color: rgba(0, 0, 0, 0.1);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: background-color 0.15s ease 0s;
    -o-transition: background-color 0.15s ease 0s;
    transition: background-color 0.15s ease 0s;
}
.gallery .justified-gallery > a .gallery-poster > img {
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
}
.gallery .justified-gallery > a:hover .gallery-poster {
    background-color: rgba(0, 0, 0, 0.5);
}
.gallery .video .gallery-poster img {
    height: 48px;
    margin-left: -24px;
    margin-top: -24px;
    opacity: 0.8;
    width: 48px;
}
.gallery.dark > ul > li a {
    border: 3px solid #04070a;
}
.home .gallery {
    padding-bottom: 80px;
}
/*END OF Gallery*/